<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace作用 需要与mapper接口的路径保持一致 唯一标识映射文件的namespace数值不能重复 -->

<mapper namespace="com.ek.project.system.form.mapper.FormFileMapper">


	<insert id="save"> 
       insert into form_file
       (name,path,size,suffix,ip,create_time)
       values
       (#{name},#{path},#{size},#{suffix},#{ip},now())
  
	</insert>


</mapper>